---
---

@import "{{ site.theme }}";

/* CUSTOM CSS */
/* paulabbott.net site */

.markdown-body, body{
    font-size: 15px;
    line-height: 1.4; /* old 1.2 */
    background: black !important; /* porto pink #FFD1CE; */
}

.markdown-body h1 a {
  text-decoration: none;
}
