---
---

@import "{{ site.theme }}";

/* add custom CSS below here ---------------------------------------------- */

/* general styles */

.markdown-body p{
margin-bottom: 1px;
}

/* date */
code, pre{
    color: green;
    margin-right: 10px;
    background-color: none;
    border: none;
}

/*  details-summary collapse style
    removes arrow
    underline style
*/
details > summary {
    border: none;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    display: block;
    outline:none;
}

details > summary::-webkit-details-marker {
  display: none;
  outline: none;
}

/*details */
sup {
  vertical-align: super;
  font-size: smaller;
    color: red; 
}




