---
---

@import "{{ site.theme }}";

/* CUSTOM CSS */
/* for PA adapted from tyyym.info site */

/* variables */
/* color scheme */

:root {
--main-bg-color: #131313;
--main-txt-color: lightgrey;
--main-txt-hover: lightgrey /* mediumseagreen; */
--main-txt-a-hover-decoration: none; /* underline */
--main-txt-a-hover-color: var(--main-bg-color) ;  /* mediumseagreen;
--main-txt-a-hover-decoration-style: solid; /* alt = dotted */
--main-txt-hover-decoration: none; /* underline */
--main-txt-hover-decoration-style: solid;
/* --txt-underline-up-col: grey; */
--main-txt-font-family: "Times New Roman", Times, serif; /* serif font */
/* --main-txt-font-family: Arial, Helvetica, sans-serif;  sans-serif font */
--main-txt-size: 18px;
--main-txt-weight: 200; /* tyyym = 200  NB does not work for TNR */
--main-txt-letter-spacing: 0.45pt;
--main-txt-word-spacing: 0.45pt;
--main-line-height: 1.5;
--max-width: 700px; /* 900 */
/* --inset-width: 600px; /* 750 */
}

/* CUSTOM SPAN CLASSES */

.strong{
  color: var(--main-txt-color) !important;
}

.testkram{
  color: green !important;
}

/* main-container */
.container-lg{
    max-width: var(--max-width);
    background: var(--main-bg-color) !important;
}

.markdown-body h1, h1 {
    /* this is the title on the page (the "home" link) */
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
    color: var(--main-txt-color) !important;
    visibility: hidden;
}

.markdown-body h2, h2,
.markdown-body h3, h3,
.markdown-body h4, h4
{
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
}

.markdown-body, body{
    font-size: var(--main-txt-size);
    letter-spacing: var(--main-txt-letter-spacing) !important;
    word-spacing: var(--main-txt-word-spacing) !important;
    line-height: var(--main-line-height);
    background: var(--main-bg-color) !important;
    color: var(--main-txt-color) !important;
}

.markdown-body a, body a{
    color: var(--main-txt-color) !important;
    text-decoration: var(--main-txt-hover-decoration) !important;
    text-decoration-style: var(--main-txt-hover-decoration-style) !important;
    text-decoration-color: var(--txt-underline-up-col) !important;
}

.markdown-body a:hover{
  text-decoration: var(--main-txt-a-hover-decoration) !important;
  text-decoration-style: var(--main-txt-a-hover-decoration-style) !important;
  color: var(--main-txt-a-hover-color) !important;
}

.markdown-body p, p, details p, details a, p strong{
    /* margin-bottom: 4px; */
    font-family: var(--main-txt-font-family) !important;
    font-weight: var(--main-txt-weight) !important; /* 200 */
    color: var(--main-txt-color) !important;
}

/* markdown to bold style */
.markdown-body strong, strong{
    color: var(--main-txt-color) !important;
    font-weight: 400; /* 400 with green */
}

.markdown-body blockquote, blockquote{
    margin-top: 0.5em;
    /* margin-bottom: 0.5em; */
    padding: 0 1em;
    border: 0;
    color: var(--main-txt-color) !important;
    font-family: courier;
    /* background: #FFD1CE; */
}